<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css">
      <link rel="stylesheet" href="/css/common.css">
      <title>Add Bearing Entry</title>
   </head>
   <body style="background-color:lavender;">
      <div id="navigation"></div>
      <br><br>
      <div class="container">
         <div class="page-header">
            <h1>Enter Details For Bearing :- <%= heading %></h1>
         </div>
         <div class="container">
            <form class="form-horizontal" method="POST" action="/machineSection/addMachineBearingEntry" id="form">
               <div class="form-group has-success has-feedback">
                  <label class="col-sm-2 control-label" for="machineName">Machine Name</label>
                  <div class="col-sm-10">
                     <input class="form-control m_no" id="m_no" name="m_no"  type="text" value="<%= machine %>" form="form" required>
                  </div>
               </div>
               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="dateOfEntry">Date Of Entry</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="dateOfEntry" name ="date" min="2000-01-02" max="9999-01-02" type="date" value="<%= date %>" form="form" required>
                  </div>
               </div>
               <div class="form-group has-error has-feedback">
                  <label class="col-sm-2 control-label" for="make">Make</label>
                  <div class="col-sm-10">
                     <input class="form-control make" id="make" name="make" type="text" value="<%= make %>" form="form" required>
                  </div>
               </div>
               <div class="form-group has-info has-feedback">
                  <label class="col-sm-2 control-label" for="comment">Comment</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="comment" name="comment" type="text" value="<%= comment %>" form="form" required>
                  </div>
               </div>
               <input type="hidden" name="type" value="<%= type %>" form="form" required readonly>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                     <input class="btn btn-warning btn-lg" type="submit" >
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-9">
                    <span id="message"><%- message %></span>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="container" id="zoomFeatures"></div>
   </body>
   <script type="text/javascript" src="/javascript/jquery.min.js"></script>
   <script type="text/javascript" src="/javascript/common.js"></script>
   <script type="text/javascript" src="/javascript/machineSection/common.js"></script>
   <script type="text/javascript" src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
   <script type="text/javascript" src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
   <script>
      $(function() {
        dataListForMachineName();
        dataListForMachineMake();
        $("#add_new_entry").attr("class", "active");

        $("input").focus(function() {
          $("#message").html("");
        });

        $("#form").submit(function(e) {
          $("#m_no").val($("#m_no").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#make").val($("#make").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#comment").val($("#comment").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          checkIfMachineExists($("#m_no").val(), e, false);
        });
      });
   </script>
</html>
