<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css">
      <link rel="stylesheet" href="/css/common.css">
      <title>Update Bearing Entry</title>
   </head>
   <body style="background-color:lavender;">
      <div id="navigation"></div>
      <br><br>
      <div class="container">
         <div class="page-header">
           <title>Update Bearing Entry</title>
         </div>
         <div class="container">
            <form class="form-horizontal" method="POST" action="/updateEntry/updateBearingEntry" id="form">
               <div class="form-group has-success has-feedback">
                  <label class="col-sm-2 control-label" for="machineName">Machine Name</label>
                  <div class="col-sm-10">
                     <input class="form-control m_no" id="m_no" name="name"  type="text" value="<%= name %>" form="form" autofocus required>
                  </div>
               </div>
               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="dateOfEntry">Date Of Entry</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="date" name ="date" min="2000-01-02" max="9999-01-02" type="date" form="form" required>
                  </div>
               </div>
               <div class="form-group has-error has-feedback">
                  <label class="col-sm-2 control-label" for="make">Make</label>
                  <div class="col-sm-10">
                     <input class="form-control make" id="make" name="make" type="text" value="<%= make %>" form="form" required>
                  </div>
               </div>
               <div class="form-group has-info has-feedback">
                  <label class="col-sm-2 control-label" for="comment">Comment</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="comment" name="comment" type="text" value="<%= comment %>" form="form" required>
                  </div>
               </div>
               <div class="form-group has-info has-feedback">
                  <label class="col-sm-2 control-label" for="comment">Type</label>
                  <div class="col-sm-10">
                     <select class="form-control" name="type" id="select" form="form">
                       <option value="dui">Dab Side Up In</option>
                       <option value="duo">Dab Side Up Out</option>
                       <option value="ddi">Dab Side Down In</option>
                       <option value="ddo">Dab Side Down Out</option>
                       <option value="gui">Gear Side Up In</option>
                       <option value="guo">Gear Side Up Out</option>
                       <option value="gdi">Gear Side Down In</option>
                       <option value="gdo">Gear Side Down Out</option>
                     </select>
                  </div>
               </div>
               <input type="hidden" name="index" value="<%= index %>" form="form" required readonly>
               <input type="hidden" name="oldname" value="<%= name %>" form="form" required readonly>

               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                     <input class="btn btn-warning btn-lg" type="submit" >
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-9">
                    <span id="message"><%- message %></span>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="container" id="zoomFeatures"></div>
   </body>
   <script type="text/javascript" src="/javascript/jquery.min.js"></script>
   <script type="text/javascript" src="/javascript/common.js"></script>
   <script type="text/javascript" src="/javascript/updateEntry/common.js"></script>
   <script type="text/javascript" src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
   <script type="text/javascript" src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
   <script>
      $(function() {
        dataListForMachineName();
        dataListForMachineMake();
        $("#update_entry").attr("class", "active");
        $('#select option[value=<%= type %>]').attr('selected','selected');
        var old_date = new Date("<%= date %>"),
            day = ("0" + old_date.getDate()).slice(-2),
            month = ("0" + (old_date.getMonth() + 1)).slice(-2),
            today = old_date.getFullYear()+"-"+(month)+"-"+(day);

        $("#date").val(today);

        $("#form").submit(function(e) {
          $("#message").html("");
          $("#m_no").val($("#m_no").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#make").val($("#make").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#comment").val($("#comment").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          if(!$("#comment").val())
            $("#comment").val('-');
          checkIfMachineExists($("#m_no").val(), e, false);
        });
      });
   </script>
</html>
