
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css">
      <link rel="stylesheet" href="/css/common.css">
      <title><%= purpose %> <%- heading %>'s Existing Entry</title>
   </head>
   <body style="background-color:lavender;">
      <div id="navigation"></div>
      <br><br>
      <div class="container">
         <div class="page-header">
            <h1><%= purpose %> <%- heading %>'s Existing Entry </h1>
         </div>
         <div class="container">
            <form class="form-horizontal" method="POST" action="/updateEntry/<%= (purpose === 'Update')? 'updateExistingEntry':'deleteExistingEntry'%>" id="form">
               <div class="form-group has-success has-feedback">
                  <label class="col-sm-2 control-label" for="name">Enter <%- heading %>'s Name </label>
                  <div class="col-sm-10">
                     <input class="form-control <%= (type === 'roll')?'roll':'m_no' %>" id="name" name="name"  type="text" value="<%= name %>" form="form" autofocus required>
                  </div>
               </div>
               <%-
                (type === 'bearing')?
                  `<div class="form-group has-success has-feedback">
                     <label class="col-sm-2 control-label" for="name">Choose Machine's Bearing Type </label>
                     <div class="col-sm-10">
                       <select class="form-control" name="category" form="form" required>
                         <option value="dui">Dab Up In</option>
                         <option value="duo">Dab Up Out</option>
                         <option value="ddi">Dab Down In</option>
                         <option value="ddo">Dab Down Out</option>
                         <option value="gui">Gear Up In</option>
                         <option value="guo">Gear Up Out</option>
                         <option value="gdi">Gear Down In</option>
                         <option value="gdo">Gear Down Out</option>
                       </select>
                     </div>
                  </div>`
                : (type === 'backup')?
                 `<div class="form-group has-success has-feedback">
                   <label class="col-sm-2 control-label" for="name">Choose Machine's Back Up Roll Type </label>
                   <div class="col-sm-10">
                     <select class="form-control" name="category" form="form" required>
                       <option value="1">Back Up Roll 1</option>
                       <option value="2">Back Up Roll 1</option>
                     </select>
                   </div>
                </div>`
                : `&nbsp;`
               %>
               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="date"><%= (type==='roll')? 'Grinding Date Of Entry':'Date Of Entry' %></label>
                  <div class="col-sm-10">
                     <input class="form-control" id="date" name ="date" type="date"  min="2000-01-02" max="9999-01-02" value="<%= date %>" form="form" required>
                  </div>
               </div>
               <input type="hidden" name="type" value="<%= type %>" form="form" readonly required>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                     <input class="btn btn-warning btn-lg" type="submit" >
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-8">
                    <span id="error"><%- error %></span>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <span id="message"><%- message %></span>
      <div class="container" id="zoomFeatures"></div>
   </body>
   <script type="text/javascript" src="/javascript/jquery.min.js"></script>
   <script type="text/javascript" src="/javascript/common.js"></script>
   <script type="text/javascript" src="/javascript/updateEntry/common.js"></script>
   <script type="text/javascript" src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
   <script type="text/javascript" src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
   <script>
      $(function() {
        if("<%- type %>" === "roll")
          dataListForWorkRollName("both");
        else {
          dataListForMachineName();
          $("select").val("<%= category %>");
        }

        if("<%= purpose %>" === "Update")
          $("#edit_entry").attr("class", "active");
        else
          $("#delete_entry").attr("class", "active");

        $("#name").focus(function() {
          $("#error").html("");
        });

        $("#form").submit(function(e) {
          $("#error").html("");
          $("#message").html("");
          $("#name").val($("#name").val().toLowerCase().trim().replace(/\s\s+/g, ' '));

          if("<%- type %>" === "roll")
            checkIfWorkRollExists($("#name").val(), e, false);
          else
            checkIfMachineExists($("#name").val(), e, false);
        });
      });
   </script>
</html>
