
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css">
      <link rel="stylesheet" href="/css/common.css">
      <title><%= purpose %></title>
   </head>
   <body style="background-color:lavender;">
      <div id="navigation"></div>
      <br><br>
      <div class="container">
         <div class="page-header">
            <h1><%= purpose %></h1>
         </div>
         <div class="container">
            <form class="form-horizontal" method="POST" action="/updateEntry/<%= (purposeKeyword==='update')?'updateName':(purposeKeyword==='delete')?'deleteName':(purposeKeyword==='updateexisting')?'updateExistingEntry':'deleteExistingEntry'%>" id="form">
               <div class="form-group has-success has-feedback">
                  <label class="col-sm-2 control-label" for="name">Enter <%- heading %>'s Name That You Want To Modify: </label>
                  <div class="col-sm-10">
                     <input class="form-control <%- type %>" id="name" name="name"  type="text" value="<%= name %>" form="form" autofocus required>
                  </div>
               </div>
               <input type="hidden" name="type" value="<%- type %>" form="form" readonly required>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                     <input class="btn btn-warning btn-lg" type="submit" >
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-8">
                    <span id="error"><%- error %></span>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <span id="message"><%- message %></span>
      <div class="container" id="zoomFeatures"></div>
   </body>
   <script type="text/javascript" src="/javascript/jquery.min.js"></script>
   <script type="text/javascript" src="/javascript/common.js"></script>
   <script type="text/javascript" src="/javascript/updateEntry/common.js"></script>
   <script type="text/javascript" src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
   <script type="text/javascript" src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
   <script>
      $(function() {
        if("<%- type %>" === "roll")
          dataListForWorkRollName("both");
        else
          dataListForMachineName();

        if("<%= purposeKeyword %>" === "update")
          $("#update_name").attr("class", "active");
        else if("<%= purposeKeyword %>" === "delete")
          $("#delete_name").attr("class", "active");
        else if("<%= purposeKeyword %>" === "updateexisting")
          $("#update_entry").attr("class", "active");
        else
          $("#delete_entry").attr("class", "active");

        $("#name").focus(function() {
          $("#error").html("");
        });

        $("#form").submit(function(e) {
          $("#error").html("");
          $("#message").html("");
          $("#name").val($("#name").val().toLowerCase().trim().replace(/\s\s+/g, ' '));

          if("<%- type %>" === "roll")
            checkIfWorkRollExists($("#name").val(), e, false);
          else
            checkIfMachineExists($("#name").val(), e, false);
        });
      });
   </script>
</html>
