<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css">
      <link rel="stylesheet" href="/css/common.css">
      <title>Add Work Roll Entry</title>
   </head>
   <body style="background-color:lavender;">
      <div id="navigation"></div>
      <br><br>
      <div class="container">
         <div class="page-header">
            <h1>Enter Details For Work Roll </h1>
         </div>
         <div class="container">
            <form class="form-horizontal" method="POST" action="/workrollSection/addWorkRollEntry" id="form">

              <div class="form-group has-success has-feedback">
                 <label class="col-sm-2 control-label" for="roll">Work Roll Name</label>
                 <div class="col-sm-10">
                    <input class="form-control roll" id="roll" name="roll"  type="text" value="<%= roll %>" form="form" required>
                 </div>
              </div>

               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="m_no">Machine Name</label>
                  <div class="col-sm-10">
                     <input class="form-control m_no" id="m_no" name="m_no"  type="text" value="<%= m_no %>" form="form" required>
                  </div>
               </div>

               <div class="form-group has-error has-feedback">
                  <label class="col-sm-2 control-label" for="m_up">Machine Up Time</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="m_up" name ="m_up" min="2000-01-01T00:01" max="9999-01-01T00:01" type="datetime-local" value="<%= m_up %>" form="form" required>
                  </div>
               </div>

               <div class="form-group has-success has-feedback">
                  <label class="col-sm-2 control-label" for="m_down">Machine Down Time</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="m_down" name ="m_down" min="2000-01-01T00:01" max="9999-01-01T00:01" type="datetime-local" value="<%= m_down %>" form="form" required>
                  </div>
               </div>

               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="reason">Reason</label>
                  <div class="col-sm-10">
                     <input class="form-control reason" id="reason" name="reason" type="text" value="<%= reason %>" form="form" required>
                  </div>
               </div>

               <div class="form-group has-error has-feedback">
                  <label class="col-sm-2 control-label" for="g_time">Grinding Completed Time</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="g_time" name ="g_time" min="2000-01-01T00:01" max="9999-01-01T00:01" type="datetime-local" value="<%= g_time %>" form="form" required>
                  </div>
               </div>

               <div class="form-group has-success has-feedback">
                  <label class="col-sm-2 control-label" for="dia">Diameter</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="dia" name="dia" type="text" value="<%= dia %>" form="form" required>
                  </div>
               </div>

               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="operator">Grinding Operator</label>
                  <div class="col-sm-10">
                     <input class="form-control operator" id="operator" name="operator" type="text" value="<%= operator %>" form="form" required>
                  </div>
               </div>

               <div class="form-group has-error has-feedback">
                  <label class="col-sm-2 control-label" for="comment">Comment</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="comment" name="comment" type="text" value="<%= comment %>" form="form" required>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                     <input class="btn btn-warning btn-lg" type="submit" >
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-9">
                    <span id="message"><%- message %></span>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="container" id="zoomFeatures"></div>
   </body>
   <script type="text/javascript" src="/javascript/jquery.min.js"></script>
   <script type="text/javascript" src="/javascript/common.js"></script>
   <script type="text/javascript" src="/javascript/workrollSection/common.js"></script>
   <script type="text/javascript" src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
   <script type="text/javascript" src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
   <script>
      $(function() {
        dataListForMachineName();
        dataListForWorkRollName("new");
        dataListForWorkRollReason();
        dataListForWorkRollOperator();

        $("#add_new_roll_entry").attr("class", "active");

        $("input").focus(function() {
          $("#message").html("");
        });

        $("#form").submit(function(e) {
          $("#roll").val($("#roll").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#m_no").val($("#m_no").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#reason").val($("#reason").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#dia").val($("#dia").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#operator").val($("#operator").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          $("#comment").val($("#comment").val().toLowerCase().trim().replace(/\s\s+/g, ' '));

          checkIfMachineExists($("#m_no").val(), e, false);
          checkIfWorkRollExists($("#roll").val(), e, false, "new");

        });
      });
   </script>
</html>
