<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css">
      <link rel="stylesheet" href="/css/common.css">
      <title>View Work Rolls Details</title>
   </head>
   <body style="background-color:lavender;">
      <div id="navigation"></div>
      <br><br>
      <div class="container">
         <div class="page-header">
            <h1>View Work Rolls Details </h1>
         </div>
         <div class="container">
            <form class="form-horizontal" method="POST" action="/workrollSection/viewWorkRoll" id="form">
               <div class="form-group has-success has-feedback">
                  <label class="col-sm-2 control-label" for="roll">Work Roll Name</label>
                  <div class="col-sm-10">
                     <input class="form-control roll" id="roll" name="roll"  type="text" value="<%= roll %>" form="form" autofocus required>
                  </div>
               </div>
               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="dateOfEntry">Grinding Starting Date</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="dateOfEntry" name ="startingDate" type="date" min="2000-01-02" max="9999-01-02" value="<%= startingDate %>" form="form" required>
                  </div>
               </div>
               <div class="form-group has-warning has-feedback">
                  <label class="col-sm-2 control-label" for="dateOfEntry">Grinding Ending Date</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="dateOfEntry" name ="endingDate" type="date"  min="2000-01-02" max="9999-01-02" value="<%= endingDate %>" form="form" required>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                     <input class="btn btn-warning btn-lg" type="submit" >
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-8">
                    <span id="message"><%- error %></span>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <span id="message"><%- message %></span>
      <div class="container" id="zoomFeatures"></div>
   </body>
   <script type="text/javascript" src="/javascript/jquery.min.js"></script>
   <script type="text/javascript" src="/javascript/common.js"></script>
   <script type="text/javascript" src="/javascript/workrollSection/common.js"></script>
   <script type="text/javascript" src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
   <script type="text/javascript" src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
   <script>
      $(function() {
        dataListForWorkRollName("both");
        $("#view_work_roll").attr("class", "active");

        $("#form").submit(function(e) {
          $("#roll").val($("#roll").val().toLowerCase().trim().replace(/\s\s+/g, ' '));
          checkIfWorkRollExists($("#roll").val(), e, false);

        });
      });
   </script>
</html>
